<h2>LIVE VISIT</h2>
<div class="container">
  <h1><%= @user.first_name %></h1>
</div>


<div class="d-flex container">

    <div class="video-call"
        data-controller="video-call"
        data-video-call-access-token-value="<%= @twilio_jwt %>"
        data-video-call-room-id-value="<%= @room_id %>"
        data-video-call-buddy-video-width-value="200"
        >
      <div class="call-video-views">
        <div id="remote-video" data-video-call-target="buddyVideo">
          <div class="no-call" data-video-call-target="noCall">
            No call in progress. Click 'Call' to connect!
          </div>
          <div class="waiting-for-buddy d-none"
              data-video-call-target="awaitingBuddy">
            Waiting for <%= @user.first_name %> to join...
          </div>
        </div>
        <div id="local-video" data-video-call-target="localVideo"></div>
      </div>
      <div class="call-buttons">
        <%= link_to '#',
                    class: 'call-button btn-start-call',
                    data: {
                      action: 'click->video-call#joinCall',
                      video_call_target: 'joinCallButton'
                    } do %>
          <i class="fas fa-phone"></i> Call
        <% end %>
        <%= link_to '#',
                    class: 'call-button btn-end-call d-none',
                    data: {
                      action: 'click->video-call#endCall',
                      video_call_target: 'endCallButton'
                    } do %>
          <i class="fas fa-phone-slash"></i> End
        <% end %>
      </div>
    </div>



  <div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <h1>#<%= @chatroom.id %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

    <%= simple_form_for [@slot, @message], remote: true, html: {data: {chatroom_subscription_target: "form"}, class: "d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.id}", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>



</div>
