

<div class="d-flex">
    <div class="flex-grow-1 video-call ms-5 mt-5"
        data-controller="video-call"
        data-video-call-access-token-value="<%= @twilio_jwt %>"
        data-video-call-room-id-value="<%= @room_id %>"
        data-video-call-buddy-video-width-value="800"
        >
      <h2 class="title-inside"><%= @chatroom.slot.offer.title %></h2>
      <div class="d-none" data-video-call-target="liveDisplay">
        <div class="live-record d-flex align-items-center">
          <i class="fas fa-circle text-danger"></i>
          <p class="mb-0 p-2">LIVE</p>
        </div>
      </div>
        <div class="end-visit">
        <button class="btn-out" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-sign-out-alt text-white"></i></button>
      </div>
      <div class="call-video-views">
        <div id="remote-video" data-video-call-target="buddyVideo">
          <div class="no-call" data-video-call-target="noCall">
            No call in progress. Click 'Call' to connect!
          </div>
          <div class="waiting-for-buddy d-none"
              data-video-call-target="awaitingBuddy">
            Waiting for <%= @chatroom.slot.user.first_name %> to join...
          </div>
        </div>
        <div id="local-video" data-video-call-target="localVideo"></div>
      </div>
      <div class="call-buttons">
        <%= link_to '#',
                    class: 'call-button btn-start-call',
                    data: {
                      action: 'click->video-call#joinCall',
                      video_call_target: 'joinCallButton'
                    } do %>
          <i class="fas fa-phone"></i>
        <% end %>
        <%= link_to '#',
                    class: 'call-button btn-end-call d-none',
                    data: {
                      action: 'click->video-call#endCall',
                      video_call_target: 'endCallButton'
                    } do %>
          <i class="fas fa-phone-slash"></i>
        <% end %>
      </div>
    </div>



  <div class="w-20 chatroom me-5 mt-5 ms-2"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >

  <div class="p-2 messages" id ="messages" data-chatroom-subscription-target="messages">
    <div class="pt-2 mb-2 d-flex justify-content-around align-items-center">
      <i class="fas fa-cog"></i>
      <h3 class="align-self-center"><strong>Chat</strong></h3>
      <i class="fas fa-user-friends"></i>
    </div>
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

    <%= simple_form_for [@slot, @message], remote: true, html: {data: {chatroom_subscription_target: "form"}, class: "d-flex height-fix"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.id}", wrapper_html: {class: "message-height flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary btn-height" %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thanks for your visit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <h3>Review</h3>
        <input type="text">
        <h3 class="mt-3">Rating</h3>
        <div class="stars d-flex justify-content-center">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h3 class="mt-3">Tips</h3>
        <input type="text">
      </div>
      <div class="modal-footer d-flex flex-column align-items-center">
        <%= link_to 'SEND', dashboard_path(), class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <a href="#top">Back to top</a>
    <div class="footer-copyright">
      Let's explore the <i class="fas fa-globe-americas"></i> with Explora World !
    </div>
  </div>
</div>
