<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <div class="brand d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logoexplo.png" %>
    <% end %>
      <h2>EXPLORA WORLD</h2>
  </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="search mr-5" style="width:400px;">
          <%= form_tag offers_path, class:'search-form', method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-term",
          placeholder: "Find your perfect Visit"
          %>
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
          </button>
           <% end %>
       </div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link mx-4" %>
          </li>
          <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar-bordered dropdown-toggle", alt: "avatar-bordered", id: "navbarDropdown", data_bs_toggle: "dropdown", aria_haspopup: "true", aria_expanded: "false" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
