<div class="container">

  <div class="container">
    <div class="mt-3 text-align-center d-flex flex-column align-items-center">
      <h1 class="dashboard"><%= "DASHBOARD" %></h1>
        <% unless @last_rental.nil? %>
        <p class="text-center confirmation" ><%= "Congratulations !" %></p>
        <p class="text-center confirmation" ><%= "#{@last_rental.slot.start_at.strftime("Visit confirmed the %d/%m/%Y at %H:%M")} with #{@last_rental.slot.user.first_name}" %></p>
        <% end %>
    </div>

    <div data-controller="maindashboard">

      <div class="tab container mt-5 d-flex justify-content-left">
        <button id="button1" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-visits">MY VISITS</button>
        <button id="button2" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-flashcards">MY FLASHCARDS</button>
        <button id="button5" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-map">MY MAP</button>

      </div>

      <div id="my-visits" data-controller="dashboard">

        <div class="tab container mt-3 d-flex justify-content-left">
          <button id="button3" class="btn-ghost mx-3" data-action="click->dashboard#openTab" data-tab="future-visits">FUTURE VISITS</button>
          <button id="button4" class="btn-ghost mx-3" data-action="click->dashboard#openTab" data-tab="past-visits">PAST VISITS</button>
        </div>

        <div id="future-visits">
          <div class="cards my-5">
            <% @rentals.each do |rental| %>
              <% if (rental.slot.start_at > Date.today) %>
                <div class="card-category mb-4">
                  <%= cl_image_tag rental.slot.offer.photos.all[0].key, height: 250, class: 'fit-picture' %>
                  <div class="text mt-3">
                    <h3 class="title"><%= rental.slot.offer.title %></h3>
                    <p><%= rental.slot.offer.description.truncate(200) %></p>
                    <p class ="bold"><%= "Starts at: #{rental.slot.start_at}" %></p>
                  </div>
                  <div class="card-text">
                    <%= link_to "Go to the live visit !", slot_path(rental.slot), class: 'btn-ghost'%>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div id="past-visits" class="d-none">
          <% @rentals.each do |rental| %>
            <% if (rental.slot.start_at < Date.today) %>
              <h2> <%=rental.slot.offer.title%> </h2>
              <p>Description : <%=rental.slot.offer.description%> </h2>
              <p>Start time : <%=rental.slot.start_at%> </h2>
            <% end %>
          <% end %>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <div id="my-flashcards" class="d-none">
        <div class="flashcard m-5">
          <h1>Coming soon ! 😉</h1>
          <%#= link_to "Go !", dashboard_path, class: 'btn-ghost'%>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>


      <div id="my-map" class="d-none d-flex flex-column align-items-center">
        <div class="m-5 map_dashboard" style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>

  </div>
</div>
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <a href="#top">Back to top</a>
    <div class="footer-copyright">
      Let's explore the <i class="fas fa-globe-americas"></i> with Explora World !
    </div>
  </div>
