<div class="container">

  <div class="container">
    <div class="container mt-3 text-align-center">
      <h1 class=""><%= "DASHBOARD" %></h1>
        <% unless @last_rental.nil? %>
        <p class="text-success" ><%= "Last visit confirmed !" %></p>
        <p class="text-success"><%= "at : #{@last_rental.slot.start_at}" %></p>
        <p class="text-success"> <%= "With #{@last_rental.slot.user.first_name}" %></p>
        <% end %>
    </div>

    <div data-controller="maindashboard">

      <div class="tab container mt-5 d-flex justify-content-left">
        <button id="button1" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-visits">MY VISITS</button>
        <button id="button2" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-flashcards">MY FLASHCARDS</button>
        <button id="button5" class="btn-ghost mx-3" data-action="click->maindashboard#openTab" data-tab="my-map">MY MAP</button>

      </div>

      <div id="my-visits" data-controller="dashboard">

        <div class="tab container mt-5 d-flex justify-content-left">
          <button id="button3" class="btn-ghost mx-3" data-action="click->dashboard#openTab" data-tab="future-visits">FUTURE VISITS</button>
          <button id="button4" class="btn-ghost mx-3" data-action="click->dashboard#openTab" data-tab="past-visits">PAST VISITS</button>
        </div>

        <div id="future-visits">
          <div class="cards my-5">
            <% @rentals.each do |rental| %>
              <% if (rental.slot.start_at > Date.today) %>
                <div class="card-category mb-4">
                  <%= cl_image_tag rental.slot.offer.photos.all[0].key, height: 250 %>
                  <div class="text mt-3">
                    <h3 class="title"><%= rental.slot.offer.title %></h3>
                    <p><%= rental.slot.offer.description %></p>
                    <p><%= "Starts at: #{rental.slot.start_at}" %></p>
                  </div>
                  <div class="card-text">
                    <%= link_to "Go to the live visit !",  slot_path(rental.slot)%>                    </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div id="past-visits" class="d-none">
          <% @rentals.each do |rental| %>
            <% if (rental.slot.start_at < Date.today) %>
              <h2> <%=rental.slot.offer.title%> </h2>
              <p>Description : <%=rental.slot.offer.description%> </h2>
              <p>Start time : <%=rental.slot.start_at%> </h2>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="my-flashcards" class="d-none">
        MY FLASHCARDS
      </div>


      <div id="my-map" class="d-none">
        MY MAP
      </div>
    </div>

  </div>

</div>
