<div data-controller="maindashboard" class="dashboard-container ">
  <div class="sidebar px-3 py-5 d-flex flex-column justify-content-between">
    <div class="items my-5">
      <div class="ok text-icon py-2" data-action="click->maindashboard#openTab" data-tab="my-visits"> <i class=" icone pe-4 fas fa-eye color-red"></i>My visits</div>
      <div class="ok text-icon py-2" data-action="click->maindashboard#openTab" data-tab="my-map"> <i class=" icone pe-4 fas  fa-map color-orange"></i>My map</div>
      <div class="ok text-icon py-2" data-action="click->maindashboard#openTab" data-tab="my-vod"> <i class=" icone pe-4 fas fa-video color-blue"></i>My vod</div>
      <div class="ok text-icon py-2" data-action="click->maindashboard#openTab" data-tab="my-friends"> <i class=" icone pe-4 fas fa-user-friends color-green"></i>My friends</div>
      <div class="ok text-icon py-2" data-action="click->maindashboard#openTab" data-tab="my-leaderboard"> <i class=" icone pe-4 fas fa-solid fa-graduation-cap color-violet"></i>Leaderboard</div>
    </div>
    <div class="explora-profile ">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/blob">
      <h3 class="text-center">Sarah</h3>
      <div class="main-wrapper">
        <div class="explora-badge green">
          <div class="badge-circle">
            <i class="fas fa-tree"></i>
              <div class="ribbon">JUNGLER</div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="dashboard-content bg-blue">
    <div class="d-flex w-100 align-items-center justify-content-between  mb-4">
      <div class="whitebox p-3" style="width:23%;" >
      <p class="font-bold"> Total Visits</p>
      TOTO
      </div>


      <div class="whitebox p-3" style="width:23%;" >
      <p class="font-bold"> Museums visited</p>
      TOTO
      </div>

      <div class="whitebox p-3" style="width:23%;" >
      <p class="font-bold"> Monuments visited</p>
      TOTO
      </div>

      <div class="whitebox p-3" style="width:23%;" >
      <p class="font-bold"> Neighborhoods visited</p>
      TOTO
      </div>

    </div>
    <div class="d-flex w-100  justify-content-between mb-4">

    <%# MAP %>
      <div class="whitebox " style="width:70%;">
        <div id="my-map" class=" d-flex flex-column align-items-center">
          <div class=" map_dashboard" style="width: 100%; height: 600px;"

            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

    <%# PICTURES %>
      <div class="whitebox p-3" style="width:28.5%;">
        <div id="my-pictures" class="">
          <div class="picture m-5">
            <h1>Coming soon !  Best Pictures visited😉</h1>
            <%#= link_to "Go !", dashboard_path, class: 'btn-ghost'%>
          </div>
        </div>
      </div>
    </div>

    <%# PAST VISIT HERE  %>

    <div class="past-visit">
     <h2>Past Visits</h2>
      <div class="whitebox d-flex flex-wrap w-100 align-items-start justify-content-evenly mb-4 p-2">
        <% if @pastvisit.empty? %>
          <p>THERE IS NO PAST VISITS</p>
        <% else %>
          <% @rentals.each do |rental| %>
            <% if (rental.slot.start_at < Date.today) %>
              <div class="card-category my-4" style="width:30%;">
                <%= cl_image_tag rental.slot.offer.photos.all[0].key, height: 250 , style: "width:100%;"%>
                <div class="text mt-3">
                  <h3 class="title"><%= rental.slot.offer.title %></h3>
                  <p><%= rental.slot.offer.description %></p>
                  <p><%= "Starts at: #{rental.slot.start_at}" %></p>
                </div>
                <div class="card-text">
                  <%= link_to "Go to the live visit !",  slot_path(rental.slot)%>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <%# FUTURE VISIT HERE  %>

      <h2>Future Visits</h2>
      <div class="whitebox d-flex flex-wrap w-600 align-items-start justify-content-evenly mb-4 p-2">
        <% @rentals.each do |rental| %>
          <% if (rental.slot.start_at > Date.today) %>
            <div class="card-category my-4" style="width:21%;">
              <%= cl_image_tag rental.slot.offer.photos.all[0].key, height: 250 , style: "width:100%;"%>
              <div class="text mt-3">
                <h3 class="title"><%= rental.slot.offer.title %></h3>
                <p class="text-truncate"><%= rental.slot.offer.description %></p>
                <p><%= "Begin at: #{rental.slot.start_at}" %></p>
              </div>
              <div class="card-text">
                <%= link_to "Go to the live visit !",  slot_path(rental.slot)%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%# FLASHCARDS %>
      <div class="whitebox p-3" style="width:50%;">
          <div id="my-flashcards" class="">
            <div class="flashcard m-5">
              <h1 class="d-flex align-items-baseline">Flashcards<img class="deck " alt="flashcards-deck" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/playing_cards_deck.png"></h1>
              <div class="museum">
                <div class="explora-progress-bar">
                  <span>Museums</span>
                  <span id="progress">50%</span>
                  <div class="progress-wrapper">
                    <div class="progress-input" style="width: 20%;"></div>
                  </div>

                </div>
              </div>
              <div class="monuments">
                <div class="explora-progress-bar">
                  <span>Monuments</span>
                  <span id="progress">30%</span>
                  <div class="progress-wrapper">
                    <div class="progress-input" style="width: 30%;"></div>
                  </div>

                </div>
              </div>
              <div class="Neighborhoods">
                <div class="explora-progress-bar">
                  <span>Neighborhoods</span>
                  <span id="progress">50%</span>
                  <div class="progress-wrapper">
                    <div class="progress-input" style="width: 50%;"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
