<a id="top"></a>
<div class="banner-test w-100 h-100">
  <%= image_tag "logoexplo.png", width: 100, height: 100, style: "object-fit: contain; position: absolute; top: 30px; left: 30px;" %>
  <div class="container">
    <div class="d-flex py-5 align-items-center" style="height: 100vh;">
      <div class="w-50 py-5" style="margin-bottom: 50px; color: black;">
        <h1 style="font-size: 65px; margin-bottom: 0px;">
          <span data-controller="typed-js"></span>
        </h1>
        <p style="margin-bottom: 30px; font-size: 24px;">Ready to discover the world from your sofa? <br>We offer you the world from your house !</p>
        <%= link_to "All offers", offers_path, class: "btn btn-ghost px-5", data: {turbolinks: false}%>
      </div>
      <div class="w-50 p-5 position-relative">
        <img src="https://images.unsplash.com/photo-1545126178-862cdb469409?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" style="position: absolute; top: -263px; left: -20px; width: 380px; height: 394px; object-fit: cover; border-radius: 6px;">
        <img src="https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" style="position: absolute; bottom: -102px; right: -42px; width: 390px; height: 327px; object-fit: cover; border-radius: 6px;">
        <img src="https://images.unsplash.com/photo-1567690077111-03ebfbde31bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" style="position: absolute; top: 83px; left: -116px; width: 500px; height: 270px; object-fit: cover; border-radius: 6px;">
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="homepage mb-5">
    <div class="d-flex justify-content-center align-items-center my-5">
      <div class="hp-border-title">....</div>
      <h1 class="hp-title">What we offer</h1>
      <div class="hp-border-title">....</div>
    </div>
    <p>EXPLORA WORLD offers you the world from your house !</p>
    <p>Save yourself from costly and polluting trips, it is now possible to travel from your sofa.</p>
    <p>We offer you all kinds of visits from monuments to museums or simply famous sites of our world.</p>
    <p>Sit comfortably and get ready for a total immersion.</p>
    <p>The Machu Pichu, the Great Wall, or the Guggenheim museum are knocking at your door !</p>
  </div>
  <div class="d-flex justify-content-around pb-5">
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://media.vogue.fr/photos/5c8a60d93d44a01271cbef6a/master/w_1600%2Cc_limit/GettyImages-502721407.jpg)">
      <h3 class="yellow-card-shadow title ">MUSEUMS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3">Want to see all the famous museums?</p>
    </div>
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fgeo.2F2021.2F12.2F21.2F5d2df5d2-15e6-4190-b1af-c90880cd2cd5.2Ejpeg/767x438/background-color/ffffff/focus-point/393%2C753/quality/70/a-londres-big-ben-sonnera-pour-le-nouvel-an-avant-la-fin-de-sa-restauration.jpg)">
      <h3 class="yellow-card-shadow title ">MONUMENTS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3"> Want to see The Taj Mahal? The Eiffel Tower?</p>
    </div>
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://img-4.linternaute.com/JuTHPe2EFvGYTo06x4UJCbUrA7Q=/660x366/smart/0fde0dde0bbb4404be0f44dec1b6ee30/ccmcms-linternaute/28899994.jpg)">
      <h3 class="yellow-card-shadow title ">NEIGHBORHOODS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3">Want to discover the streets of New York, or Mexico ?</p>
    </div>
  </div>
</div>

<div class="gray-background">
  <div class="container py-5">
    <div class="d-flex justify-content-center align-items-center my-5">
      <div class="hp-border-title">....</div>
      <h1 class="hp-title">They recommand us</h1>
      <div class="hp-border-title">....</div>
    </div>
    <div id="carouselExampleControls" class="carousel slide pb-5 mx-auto" style="width: 80%" data-bs-ride="carousel">
      <div class="carousel-inner">
        <%# one %>
        <div class="carousel-item active">
          <div class="review p-5">
            <div class="recommand">
              <h1>"BEST EXPERIENCE EVER"</h2>
              <h3>"Seeing the Pyramids was a dream since I was a kid and now it came true ! It was one of the best experience ever !"</h3>
              <div class="icons-grades">
              <%= image_tag "frelon.png", id: "avatar-review" %>
              <a href="#"><i class="fab fa-facebook m-2"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-google m-2"></i></a>
              </div>
            </div>
            <div class="img-review">
              <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://ak.picdn.net/shutterstock/videos/1024420484/thumb/1.jpg)">
              </div>
            </div>
          </div>

        </div>
        <%# two %>
        <div class="carousel-item">
          <div class="review p-5">
            <div class="recommand">
              <h1>"ABSOLUTELY STUNNING"</h2>
              <h3>"Great visit ! I had not travelled for several years but Explora World made me feel like I was on a real trip. I really felt like I was on the streets of Indonesia with a guide ! Thank you !"</h3>
              <div class="icons-grades">
              <%= image_tag "frelon.png", id: "avatar-review" %>
              <a href="#"><i class="fab fa-facebook m-2"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-google m-2"></i></a>
              </div>
            </div>
            <div class="img-review">
              <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.itinari.com/regions/id-special-region-of-yogyakarta.jpg?ch=DPR&dpr=1&w=1600&s=ee620d84a4303821bfb65f8b7819708f)">
              </div>
            </div>
          </div>
        </div>
        <%# three %>
        <div class="carousel-item">
          <div class="review p-5">
            <div class="recommand">
              <h1>"ONE WORD: AMAZING!"</h2>
              <h3>"Because of global warming, I am really happy I could travel without having to take the plane. The planet and myself are grateful."</h3>
              <div class="icons-grades">
              <%= image_tag "frelon.png", id: "avatar-review" %>
              <a href="#"><i class="fab fa-facebook m-2"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-google m-2"></i></a>
              </div>
            </div>
            <div class="img-review">
              <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://cdn.getyourguide.com/img/location/5ce265372f802.jpeg/88.jpg)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# arrow %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>


<div class="container py-5">
  <div class="d-flex justify-content-center align-items-center my-5">
    <div class="hp-border-title">....</div>
    <h1 class="hp-title">Our partners</h1>
    <div class="hp-border-title">....</div>
  </div>
  <div class="partners mb-5">
    <%= image_tag "acro-logo.png", id: "places"%>
    <%= image_tag "london.png", id: "places"%>
    <%= image_tag "kuala.png", id: "places"%>
    <%= image_tag "louvre.png", id: "places"%>
    <%= image_tag "machu-logo.png", id: "places"%>
    <%= image_tag "met-logo.png", id: "places"%>
    <%= image_tag "mexico-logo.png", id: "places"%>
    <%= image_tag "paris-logo.png", id: "places"%>
    <%= image_tag "senso-logo.png", id: "places"%>
    <%= image_tag "syndey-logo.png", id: "places"%>
    <%= image_tag "forbidden-logo.png", id: "places"%>
    <%= image_tag "british-logo.png", id: "places"%>
    <%= image_tag "vatican.png", id: "places"%>
    <%= image_tag "greatwall.png", id: "places"%>
    <%= image_tag "rio.png", id: "places"%>
    <%= image_tag "niagara.png", id: "places"%>
  </div>
</div>
