<a id="top"></a>
<div class="banner">
  <div>
    <h1>
      <span data-controller="typed-js"></span>
    <p>Ready to discover the world from your sofa?</p>
    </h1>
    <%= link_to "All offers", offers_path, class: "btn btn-ghost"%>
    <%# <%= link_to "Surprize me!", offers_path %>
    <%= image_tag "logoexplo.png", id: "logoexplobanner" %>
  </div>
</div>
<div class="container">
  <div class="homepage py-5">
    <h1 class="section-title">What we offer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est et sit ducimus iste provident vel animi eos magni tempore illum accusamus maxime soluta ab sed enim suscipit, aut esse itaque?
    Iste ullam odit labore consequatur ipsam maiores in similique iure suscipit veniam voluptatum vero, animi necessitatibus blanditiis, quas reiciendis inventore impedit, doloremque assumenda! Eaque hic quasi beatae quo soluta fugiat.
    Animi ullam tempore consequatur soluta enim? Earum ab, molestias maxime sequi ipsa esse deleniti maiores quasi officiis saepe quo, accusamus cum illum consequuntur consectetur autem corrupti modi! Consequatur, rerum repudiandae!
    Asperiores molestias voluptates, nulla id omnis temporibus labore ipsa officiis quia, sunt ducimus voluptatum consequatur veniam enim vitae quidem commodi. Atque praesentium consectetur ut nesciunt accusamus, earum sequi voluptatem eaque?
    Neque voluptatem cum necessitatibus minima eos sunt itaque, eveniet quae autem omnis quidem sit iusto fugit illum iure sint, vitae, quam dicta facere iste cupiditate laborum soluta sed inventore. Aperiam!</p>
  </div>
  <div class="d-flex justify-content-around">
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://media.vogue.fr/photos/5c8a60d93d44a01271cbef6a/master/w_1600%2Cc_limit/GettyImages-502721407.jpg)">
      <h3 class="yellow-card-shadow title ">MUSEUMS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3">Want to see all the famous museums?</p>
    </div>
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fgeo.2F2021.2F12.2F21.2F5d2df5d2-15e6-4190-b1af-c90880cd2cd5.2Ejpeg/767x438/background-color/ffffff/focus-point/393%2C753/quality/70/a-londres-big-ben-sonnera-pour-le-nouvel-an-avant-la-fin-de-sa-restauration.jpg)">
      <h3 class="yellow-card-shadow title ">MONUMENTS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3"> Want to see The Taj Mahal? The Eiffel Tower?</p>
    </div>
    <div class="yellow-card d-flex flex-column justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://img-4.linternaute.com/JuTHPe2EFvGYTo06x4UJCbUrA7Q=/660x366/smart/0fde0dde0bbb4404be0f44dec1b6ee30/ccmcms-linternaute/28899994.jpg)">
      <h3 class="yellow-card-shadow title ">NEIGHBORHOODS</h3>
      <div class="yellow-card-title-underline mx-3"></div>
      <p class="yellow-card-shadow mx-3">Want to discover the streets of New York, or Mexico ?</p>
    </div>
  </div>
  <div class="separator-thin my-4"></div>

  <h2>They recommand us</h2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%# one %>
      <div class="carousel-item active">
        <div class="review py-5">
          <div class="recommand">
            <h1>"BEST EXPERIENCE EVER"</h2>
            <h3>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sed ratione quae esse, vero aut, quo, ipsa quia maiores magni itaque expedita ea nostrum explicabo velit nobis eligendi architecto sint."</h3>
            <div class="icons-grades">
            <%= image_tag "frelon.png", id: "avatar-review" %>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            </div>
          </div>
          <div class="img-review">
            <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://ak.picdn.net/shutterstock/videos/1024420484/thumb/1.jpg)">
            </div>
          </div>
        </div>

      </div>
      <%# two %>
      <div class="carousel-item">
        <div class="review py-5">
          <div class="recommand">
            <h1>"ABSOLUTELY STUNNING"</h2>
            <h3>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sed ratione quae esse, vero aut, quo, ipsa quia maiores magni itaque expedita ea nostrum explicabo velit nobis eligendi architecto sint."</h3>
            <div class="icons-grades">
            <%= image_tag "frelon.png", id: "avatar-review" %>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            </div>
          </div>
          <div class="img-review">
            <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.itinari.com/regions/id-special-region-of-yogyakarta.jpg?ch=DPR&dpr=1&w=1600&s=ee620d84a4303821bfb65f8b7819708f)">
            </div>
          </div>
        </div>
      </div>
      <%# three %>
      <div class="carousel-item">
        <div class="review py-5">
          <div class="recommand">
            <h1>"ONE WORD: AMAZING!"</h2>
            <h3>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sed ratione quae esse, vero aut, quo, ipsa quia maiores magni itaque expedita ea nostrum explicabo velit nobis eligendi architecto sint."</h3>
            <div class="icons-grades">
            <%= image_tag "frelon.png", id: "avatar-review" %>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            </div>
          </div>
          <div class="img-review">
            <div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://cdn.getyourguide.com/img/location/5ce265372f802.jpeg/88.jpg)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# arrow %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2>They talk about us</h2>
  <div class="talk">
    <div class="container d-flex justify-content-around align-items-center">
    <%= image_tag "le-monde-icon.png", id: "newspapers"%>

    <%= image_tag "guardian-icon.png", id: "newspapers"%>

    <%= image_tag "nytimes-icon.png", id: "newspapers"%>

    <%= image_tag "huffpost-icon.png", id: "newspapers"%>
    </div>
  </div>
  <h2 class="mt-5">Our partners</h2>
  <div class="partners my-5">
      <%# <div class="container d-flex justify-content-around align-items-center"> %>
        <%= image_tag "acro-logo.png", id: "places"%>
        <%= image_tag "london.png", id: "places"%>
        <%= image_tag "kuala.png", id: "places"%>
        <%= image_tag "louvre.png", id: "places"%>
        <%= image_tag "machu-logo.png", id: "places"%>
        <%= image_tag "met-logo.png", id: "places"%>
        <%= image_tag "mexico-logo.png", id: "places"%>
        <%= image_tag "paris-logo.png", id: "places"%>
        <%= image_tag "senso-logo.png", id: "places"%>
        <%= image_tag "syndey-logo.png", id: "places"%>
        <%= image_tag "forbidden-logo.png", id: "places"%>
        <%= image_tag "british-logo.png", id: "places"%>
        <%= image_tag "vatican.png", id: "places"%>
        <%= image_tag "greatwall.png", id: "places"%>
        <%= image_tag "rio.png", id: "places"%>
        <%= image_tag "niagara.png", id: "places"%>
      </div>
  </div>
</div>
