<script>
  initialize();
</script>


<div class="container">
  <h2>All offers</h2>

  <div class="d-flex justify-content-around">
    <div data-controller="categories">

      <div class="tab container mt-5 d-flex justify-content-start">
        <button class="btn btn-ghost" data-action="click->categories#openTab" data-tab="Museums">Museums</button>
        <button class="btn btn-ghost" data-action="click->categories#openTab" data-tab="Monuments">Monuments</button>
        <button class="btn btn-ghost" data-action="click->categories#openTab" data-tab="Neighborhoods">Neighborhoods</button>
      </div>

      <div class="d-flex">
        <div>
          <%= render "shared/card_index", locals: {category: @offers.select { |offer| offer.category.name == "Museum"}, category_name: "Museums" } %>
          <%= render "shared/card_index", locals: {category: @offers.select { |offer| offer.category.name == "Monument"}, category_name: "Monuments"} %>
          <%= render "shared/card_index", locals: {category: @offers.select { |offer| offer.category.name == "Neighborhood"}, category_name: "Neighborhoods"} %>
        </div>

        <div class="position-sticky" style="top: 0px; height: fit-content;">

          <div style="width: 600px; height: 800px; border-radius: 20px; margin-bottom: 50px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            class ="my-3 mx-4 position-sticky d-none"
            id="map_index">
          </div>

          <button id="btn-3D" class="btn btn-ghost">3D</button>

          <div id="map" class="" data-markers="<%= @markers.to_json %>">
            <div id="coords"></div>
            <div id="buttons">
              <input type="button" class="btn-ghost" value="I feel lucky !"><br>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
