<div class="container">

<div class="card-hp-category">


</div>

<h3 class="text-center mb-5"> <%= @offer.title %></h3>
<div class="d-flex justify-content-between">
  <div>
    <h4> Description: </h4>
    <p><%= @offer.description %></p>
  </div>
  <div>
    <p>MAP HERE</p>
  </div>
</div>

<div class="vertical-divider mb-5 mt-5">
</div>

<div class="d-flex justify-content-around mb-5">
  <div>
    <h3 class="text-center">LIVE</h3>
    <div class="card">
      <section class="top"></section>
      <div class="event-info">
        <p id="price"><%= @offer.price %>$</p>
        <p class="title"><%= @offer.title %></p>

        <div class="additional-info">
          <p class="info">
            <i class="fas fa-map-marker-alt"></i>
            <%= @offer.city %>
            </p>
          <p class="info">
            <i class="fas fa-calendar-alt"></i>
            <%= @offer.slots.all[0].start_at %>
          </p>
          <p class= "info">
            <i class="fas fa-video"></i>
            <%= "#{@offer.slots.all[0].user.first_name} #{@offer.slots.all[0].user.last_name}"%>
          </p>
          <p class= "info">
            full schedule
          </p>
        </div>
        <button class="action">Register</button>
      </div>
    </div>
  </div>
  <div>
    <h3>VOD</h3>
  </div>
</div>

<div class="vertical-divider mb-5 mt-5">
</div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="card-hp-category">
        <% @offer.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class:"show-img", crop: :fill %>
            <%# <img src="frelon.jpg" class="d-block w-100"> %>
          </div>
          <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, class:"show-img", crop: :fill %>
            <%# <img src="frelon.jpg" class="d-block w-100" alt="..."> %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
